/* Small Screen */
@media only screen and (max-width: "575px") {
    .navbar {
        .nav-item {
            display: block;
            // text-align: center;
        }
    }

    .banner {
        background: transparent;

        .container {
            align-items: center;
        }
    }
}
